@inject IWikiService WikiService
@inject IStorageService StorageService
@inject IPopupService PopupService

<MDialog @bind-Value="_visible"
         Fullscreen
         Transition="dialog-bottom-transition">
    <ActivatorContent>
        <MListItem Link
                   @attributes="@context.Attrs">
            <MListItemIcon>
                <MIcon>mdi-file-chart-outline</MIcon>
            </MListItemIcon>
            <MListItemContent>
                <MListItemTitle>网页链接</MListItemTitle>
            </MListItemContent>
        </MListItem>
    </ActivatorContent>
    <ChildContent>
        <MCard>
            <MToolbar Dark
                      Color="primary">
                <MToolbarTitle>上传本地文件</MToolbarTitle>
                <MSpacer></MSpacer>
                <MToolbarItems>
                    <MButton Icon
                             Dark
                             OnClick="() => _visible = false">
                        <MIcon>mdi-close</MIcon>
                    </MButton>
                </MToolbarItems>
            </MToolbar>
            <MDivider></MDivider>
            <MStepper Value="_step">
                <MStepperHeader>
                    <MStepperStep Step="1" Complete="_step>1">
                        选择文件
                    </MStepperStep>
                    <MDivider></MDivider>
                    <MStepperStep Step="2" Complete="_step>2">
                        数据处理
                    </MStepperStep>
                    <MDivider></MDivider>
                    <MStepperStep Step="3">
                        上传数据
                    </MStepperStep>
                </MStepperHeader>

                <MStepperItems>
                    <MStepperContent Step="1">
                        <MCard Outlined Class="mb-12">
                            <MCardActions Style="display: block; overflow: auto; max-height: 60vh;">
                                <div style="display: flex;">
                                    <div style="width: 120px;text-align: center;">网络链接</div>
                                    <textarea @bind="WebPage" placeholder="请输入内容"></textarea>
                                </div>
                                <div>
                                    @if (!string.IsNullOrEmpty(WebPage))
                                    {
                                        @foreach (var item in WebPage.Split('\n').Where(x=>!x.IsNullOrEmpty()))
                                        {
                                            <div style="background-color: #F4F4F7;border-radius: 10px;padding: 8px;margin: 8px;">
                                                @item
                                                <MButton OnClick="()=>Remove(item)" Icon>
                                                    <MIcon>mdi-close</MIcon>
                                                </MButton>
                                            </div>
                                        }
                                    }
                                </div>
                            </MCardActions>
                            <MCardActions>
                                <MButton Color="primary" Block OnClick="SelectFileHandle">下一步</MButton>
                            </MCardActions>
                        </MCard>
                    </MStepperContent>
                    <MStepperContent Step="2">
                        <MCard Outlined Class="mb-12" Height="@("calc(100vh - 230px)")">
                            <div style="display: flex;">
                                <div style="margin:8px;width:15%;">
                                    <div style="margin-top:8px;">
                                        <p>训练模式</p>
                                        <MRadioGroup @bind-Value="_trainingPattern"
                                                     Row>
                                            <MRadio Label="直接拆分"
                                                    Value="TrainingPattern.Subsection">
                                            </MRadio>
                                            <MRadio Label="问答拆分"
                                                    Value="TrainingPattern.QA">
                                            </MRadio>
                                        </MRadioGroup>
                                    </div>
                                    <div style="margin-top:8px;">
                                        <p>处理方式</p>
                                        <MRadioGroup @bind-Value="_processMode"
                                                     Row>
                                            <MRadio Label="自动处理"
                                                    Value="ProcessMode.Auto">
                                            </MRadio>
                                            <MRadio Label="自定义处理"
                                                    Value="ProcessMode.Custom">
                                            </MRadio>
                                        </MRadioGroup>
                                    </div>
                                    @if (_trainingPattern == TrainingPattern.Subsection && _processMode == ProcessMode.Custom)
                                    {
                                        <div style="margin-top:15px;">

                                            <MTextField Outlined NumberProps="@(prop => { prop.Min = 200; prop.Max = 2048; prop.Step = 1; })" Type="number" TValue="int" @bind-Value="subsection" Label="理想分段长度"></MTextField>

                                        </div>
                                    }
                                </div>
                                <div style="flex: 1;margin:15px;height: 70vh;overflow: auto;">
                                    @foreach (var input in WebPage.Split('\n').Where(x => !x.IsNullOrEmpty()))
                                    {
                                        <MCard Style="margin:8px;"
                                               Outlined>
                                            <MCardTitle Style="font-size:16px;font-weight:bold;">
                                                @input
                                            </MCardTitle>
                                        </MCard>
                                    }
                                </div>
                            </div>
                            <MCardActions>
                                <MSpacer></MSpacer>
                                <MButton Color="primary" OnClick="() => _step = 1">上一步</MButton>
                                <MButton Color="primary" OnClick="DataHandler">下一步</MButton>
                            </MCardActions>
                        </MCard>
                    </MStepperContent>
                    <MStepperContent Step="3">
                        <MCard Class="mb-12">
                            <div style="display: flex;">
                                <MDataTable Headers="_headers"
                                            Items="Pages"
                                            Style="width:100%;"
                                            Class="elevation-1">
                                    <ItemColContent>
                                        @if (context.Header.Value == nameof(UploadSubsectionInput.Name))
                                        {
                                            <span>@context.Value</span>
                                        }
                                        else if (context.Header.Value == nameof(UploadSubsectionInput.Count))
                                        {
                                            <span>@context.Value</span>
                                        }
                                        else if (context.Header.Value == nameof(UploadSubsectionInput.FileProgress))
                                        {
                                            <MProgressLinear Value="@((int)context.Value)" Height="10" Context="progress">
                                                <strong>@($"{progress}%")</strong>
                                            </MProgressLinear>
                                        }
                                        else if (context.Header.Value == nameof(UploadSubsectionInput.DataProgress))
                                        {
                                            <MProgressLinear Value="@((int)context.Value)" Height="10" Context="progress">
                                                <strong>@($"{progress}%")</strong>
                                            </MProgressLinear>
                                        }
                                    </ItemColContent>
                                </MDataTable>
                            </div>
                            <MCardActions>
                                <MSpacer></MSpacer>
                                <MButton Color="primary" OnClick="()=>_step=2">上一步</MButton>
                                <MButton Color="primary" OnClick="Upload">共@(Pages.Count)个文件|开始上传</MButton>
                            </MCardActions>
                        </MCard>
                    </MStepperContent>
                </MStepperItems>
            </MStepper>
        </MCard>
    </ChildContent>
</MDialog>

                            
                                
<style>
    textarea {
        width: 400px;
        height: 250px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        transition: border-color 0.3s;
        overflow: auto;
        resize: none;
        outline: none;
    }

    textarea:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px #007bff;
    }
</style>