@page "/chat"

@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject IChatApplicationService ChatApplicationService

<style>
    .content-container {
        display: flex;
    }

    .left-column {
        width: 160px;
        min-width: 160px;
    }

    .middle-column {
        width: 220px;
        min-width:220px;
    }

    .right-column {
        flex-grow: 1;
    }

    .vertical-divider {
        width: 1px; /* 设置宽度为1px */
        background-color: #E0E0E0; /* 设置分割线颜色为黑色 */
        height: 100%; /* 设置高度为100px，或者你想要的高度 */
        margin-left: 10px; /* 可选，设置左边距 */
        margin-right: 10px; /* 可选，设置右边距 */
    }
</style>

<MAppBar Color="deep-purple accent-4"
         Dense
         Dark>
    <MButton Icon OnClick="ArrowLeft">
        <MIcon>mdi-arrow-left</MIcon>
    </MButton>

    <MToolbarTitle>对话</MToolbarTitle>

    <MSpacer></MSpacer>

    <MMenu Left
           Bottom>
        <ActivatorContent>
            <MButton Icon @attributes="@context.Attrs">
                <MIcon>mdi-dots-vertical</MIcon>
            </MButton>
        </ActivatorContent>
        <ChildContent>
            <MList>
                @for (var i = 0; i < 5; i++)
                {
                    var n = i + 1;
                    <MListItem @key="n"
                               OnClick="() => { }">
                        <MListItemTitle>Option @n</MListItemTitle>
                    </MListItem>
                }
            </MList>
        </ChildContent>
    </MMenu>
</MAppBar>

<div class="content-container ">
    <div class="left-column">
        <ChatApplicationList @bind-Value="chatApplication" ChatApplication="ChatApplications" />
    </div>
    <MCard Outlined Style="width: 100%;height: calc(100vh - 80px);margin: 10px;padding: 10px;display: flex;">
        <div class="middle-column">
            <MCardTitle>
                @chatApplication.Name
            </MCardTitle>
            <MDivider></MDivider>
            <ChatDialog ChatApplicationId="@chatApplication.Id" @bind-Value="ChatDialog"></ChatDialog>
        </div>

        <div class="vertical-divider"></div>
        <div class="right-column">
            <ChatDialogue ChatDialogId="@ChatDialog.Id" ChatApplication="@chatApplication"></ChatDialogue>
        </div>
    </MCard>
</div>
